@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
<div class="card">
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-4">
                <div class="form-group ">
                    <label class="form-label">Mật khẩu cũ:</label>
                    <input id="txtPassword" name="txtPassword" maxlength="50" type="password" class="form-control" value="" />
                    <span id="lblPassword" class="message msg-box"></span>
                </div>
                <div class="form-group ">
                    <label class="form-label">Mật khẩu mới:</label>
                    <input id="txtNewPassword" name="txtNewPassword" maxlength="50" type="password" class="form-control" value="" />
                    <span id="lblNewPassword" class="message msg-box"></span>
                </div>
                <div class="form-group ">
                    <label class="form-label">XH-mật khẩu mới:</label>
                    <input id="txtReNewPassword" name="txtReNewPassword" maxlength="50" type="password" class="form-control" value="" />
                    <span id="lblReNewPassword" class="message msg-box"></span>
                </div>
                <div class="form-group pull-right m-t-15">
                    <button id="btnReset" class="btn btn-danger" type="reset">@Helper.Language.Resource.Label.BtnReset</button>
                    <button id="btnChangePassword" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnUpdate</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/Authentication/Scripts/change-password.js"></script>
}

