@using WebCore.Services;
@using WebCore.Services;
@using WebCore.Model.Services;
@*search control ******************************************************************************************************@

@{
    string addPath = string.Empty;
    bool addState = false;
    int vcol = 5;

    if (PermissionService.CheckActionInMenuItem(Helper.Page.MetaSEO.ControllerText, WebCore.Entities.RoleActionKey.DataList))
    {
        addState = true;
        vcol = 4;
        addPath = Helper.Page.Navigate.PathCreate();

    }
}
<div class="row" data-keyenter="#btnSearch" data-datesearch="true">
    <div class="col-md-2">
        <div class="form-group ">
            <select id="ddlStatus" name="ddlStatus" class="form-control show-tick" data-live-search="true">
                <option value="-1">-T.Thái-</option>
                @Html.Raw(ModelService.DropdownListStatus(-1))
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group ">
            <select id="ddlTimeExpress" name="ddlTimeExpress" class="form-control show-tick" data-live-search="true">
                <option value="0">-Giới hạn-</option>
                @Html.Raw(ModelService.DropdownListSearchExpress(-1))
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="input-daterange input-group" id="datepicker">
                <input type="text" class="form-control" id="txtStartDate" placeholder="dd-mm-yyyy" />
                <span class="input-group-addon"><i class="far fa-arrow-alt-circle-right"></i></span>
                <input type="text" class="form-control" id="txtEndDate" placeholder="dd-mm-yyyy" />
            </div>
        </div>
    </div>

    <div class="col-md-@vcol" data-keyenter="#btnSearch">
        <div class="form-group input-group">
            <input type="text" class="form-control" id="txtQuery" placeholder="Nhập từ khóa..." />
            <span id="btnSearch" class="input-group-addon"><i class="fa fa-search -icons"></i></span>
        </div>
    </div>
    @{
        if (addState)
        {
            <div class="col-md-1">
                <div class="form-group">
                    <a href="@Helper.Page.Navigate.PathCreate()" class="btn btn-primary w-100" style="width:100%">
                        +
                    </a>
                </div>
            </div>
        }
    }
</div>
@*search control ******************************************************************************************************@

